@use "../../styles/variables.scss" as *;
@use "sass:color";

/* =========================
  HERO
========================= */

.hero {
  height: 72vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 660px;

  @media (max-width: 768px) {
    height: 480px;
    min-height: auto;
    background-position: right center;
  }
}

/* =========================
   OVERLAY
========================= */

.overlay {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* =========================
   HERO CONTENT
========================= */

.hero-content {
  width: 100%;
  max-width: 1300px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  height: 100%;
  padding-bottom: 140px;
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }

  .hero-logo {
    width: 150px;
    height: auto;
    margin-top: 80px;
    margin-left: 80px;
    object-fit: contain;
    @media (max-width: 768px) {
      width: 100px;
      height: auto;
      margin-top: 70px;
      margin-left: 12px;
      object-fit: contain;
    }
  }

  h1 {
    margin: 10px 0 0px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1;
    max-width: 700px;
    color: $warning2;
    font-size: 54px;

    span {
      display: block;
      margin-top: 8px;
      font-size: 48px;
      font-weight: 700;
      color: $white;
      line-height: 1.08;
    }

    small {
      display: block;
      margin-top: 8px;
      font-size: 48px;
      font-weight: 700;
      color: $white;
      line-height: 1.08;
      font-family: "Playfair Display", serif;
    }

    .hero-divider {
      margin-top: 10px;
      font-size: 18px;
      color: $warning;
      letter-spacing: 0px;
      font-weight: 400;
      line-height: 1;
    }

    @media (max-width: 768px) {
      font-size: 42px;
      line-height: 1.1;

      span {
        font-size: 24px;
      }

      small {
        font-size: 24px;
      }

      .hero-divider {
        font-size: 10px;
        margin-top: 10px;
      }
    }
  }

  p {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba($white, 0.95);

    span {
      display: inline-block;
      margin-top: 0px;
      color: $warning;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    @media (max-width: 768px) {
      margin-top: 0px;
      font-size: 16px;
      line-height: 1.5;

      span {
        margin-top: 6px;
        font-size: 18px;
      }
    }
  }

  .hero-btn {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 8px 16px;
    background: linear-gradient(
      180deg,
      #ffb326 0%,
      #ff9800 100%
    );

    color: $white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    border: 2px solid rgba($white, .35);
    border-radius: 18px;
    cursor: pointer;
    transition: .3s ease;

    box-shadow:
      0 8px 20px rgba(0,0,0,.25),
      inset 0 1px 0 rgba(255,255,255,.35);

    svg{
      font-size:28px;
      transition:.3s;
    }

    &:hover{
      transform: translateY(-3px);

      svg{
        transform: translateX(5px);
      }
    }

    @media(max-width:768px){
      font-size:13px;
      padding:7px 12px;

      svg{
        font-size:22px;
      }
    }
  }
}

.divine-stats-bar {
  width: fit-content;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 28px;
  border-radius: 14px;
  background: rgba(30, 58, 138, 0.42);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.22);

  .divine-stat-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .divine-stat-icon {
    width: 42px;
    height: 42px;

    border-radius: 25px;
    border: 1px solid $warning2;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    svg {
      color: $warning2;
      font-size: 20px;
    }
  }

  .divine-stat-content {
    h4 {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
    }

    p {
      margin: 3px 0 0;
      font-size: 10px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.75);
    }
  }

  @media (max-width: 768px) {
    width: 85%;
    padding: 10px 12px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .divine-stat-item {
      flex: 1;
      min-width: 0;
      gap: 8px;
    }

    .divine-stat-icon {
      width: 32px;
      height: 32px;
      svg {
        font-size: 14px;
      }
    }

    .divine-stat-content {
      h4 {
        font-size: 11px;
        line-height: 1.3;
      }
    }
  }
}

/* =========================
   HERO FEATURES
========================= */

.hero-features {
  position: relative;
  z-index: 1;
  width: 100%;
  background: color.adjust($primary, $lightness: 42%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;
  padding: 120px 20px 30px;
  min-height: 50px;

}

/* FEATURE ITEM */

.feature-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 25px;
  position: relative;

  &:not(:last-child)::after {
    content: "";

    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 45px;
    background: rgba($text, 0.08);
  }
}

/* ICON */

.feature-item .icon {
  width: 42px;
  height: 48px;
  min-width: 52px;
  border-radius: 50%;
  background: linear-gradient(135deg, #b6cef5, blue);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 20px;
    color: $white;
  }
}

/* TEXT */

.feature-item .text {
  h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: $text;
    line-height: 1.2;
  }

  p {
    margin: 2px 0 0;
    font-size: 16px;
    color: rgba($text, 0.7);
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .hero-features {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0;
    padding: 20px 0px 20px;
  }

  .feature-item {
    width: 33.33%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;

    &::after {
      display: none;
    }
  }

  .feature-item .icon {
    width: 46px;
    height: 42px;
    min-width: 42px;

    svg {
      font-size: 18px;
    }
  }

  .feature-item .text {
    h4 {
      font-size: 12px;
      line-height: 1.3;
      margin: 0;
    }

    p {
      display: none;
    }
  }
}