@use "../../styles/variables.scss" as *;

.why-choose {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 20px;
  background: linear-gradient(
      rgba($secondary2, 0.90),
      rgba($secondary2, 0.80)
  ),
  url("/src/assets/images/ujjain11.png");

  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}

.why-choose .container {
  margin: auto;
  position: relative;
  z-index: 2;
}

.why-heading {
  text-align: center;
  margin-bottom: 0px;

  h2 {
    color: $white;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 25px;
    font-family: "Playfair Display", serif;

    span {
      color: $warning;
    }

    @media (max-width: 768px) {
      margin-bottom: 0px;
      margin-top: 10px;
      font-size: 20px;
    }
  }

  .heading-decoration {
    text-align: center;
    color: $warning;
    font-size: 20px;
    margin: 0px;
    @media (max-width: 768px) {
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 10px;
    }
  }
}

.why-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 15px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.why-item {
  position: relative;
  padding: 0 30px;
  text-align: center;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 80%;
    background: $light-gray;
  }
}


@media (max-width: 576px) {
  .why-item::after {
    display: none;
  }
}

@media (max-width: 576px) {
  .why-item {
    padding: 0px;
      p {
        display: none;
      }
  }
}
.image-circle {
  margin: 0 auto 15px;
  overflow: hidden;
  margin-bottom: 0px;

  img {
    width: 50%;
    height: 100%;
    object-fit: contain; 
  }
  @media (max-width: 576px) {
    img{
      width: 60%;
      height: 100%;
    }
  }
}


.why-item h3 {
  color: $warning;
  font-size: 26px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Playfair Display", serif;
}
@media (max-width: 576px) {
  .why-item h3 {
    font-size: 10px;
  }
}

.why-item p {
  color: rgba($white, 0.85);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}