$primary: #2563eb;     
$secondary: #1e3a8a;   
$accent: #3b82f6;
$blue: blue;   
$secondary2: #0b215d;      

   

$warning: #f5b400;  
$warning2: #fd7200;
$success: #16a34a;   
$bg: #f8fafc;
$text: #1e293b;
$white: #ffffff;
$light-gray: gray;

$success-bg: #dcfce7;
$info-bg: #dbeafe;
$card-bg: #ecf4fdc6;
$warning-bg: #fef3c7;
$danger: #e12210;
$danger-bg: rgba(231, 49, 8, 0.3);
